# Q1) Prepare a classification model using Naive Bayes for salary data

In [1]:
import pandas as pd
import numpy as np

In [5]:
salary_train=pd.read_csv('SalaryData_train.csv')
salary_test=pd.read_csv('SalaryData_test.csv')

In [6]:
salary_train

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
def split_into_words(i):
    return (i.split(" "))

In [51]:
# Preparing Word Count Matrix Format :
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(analyzer=split_into_words).fit(salary_train.Salary)
bow

CountVectorizer(analyzer=<function split_into_words at 0x0000017272F69670>)

In [38]:
train_matrix=bow.transform(salary_train.Salary)
train_matrix.shape

(30161, 3)

In [39]:
test_matrix=bow.transform(salary_test.Salary)
test_matrix.shape

(15060, 3)

In [40]:
from sklearn.naive_bayes import MultinomialNB as MB

In [50]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(train_matrix,salary_train.workclass)

train_pred_m = classifier_mb.predict(train_matrix)
accuracy_train_m = np.mean(train_pred_m==salary_train.workclass)

test_pred_m = classifier_mb.predict(test_matrix)
accuracy_test_m = np.mean(test_pred_m==salary_test.workclass)

In [42]:
print("Accuracy of Train Data : ",accuracy_train_m)
print("Accuracy of Test Data : ",accuracy_test_m)

Accuracy of Train Data :  0.7388680746659594
Accuracy of Test Data :  0.7318061088977423

In [49]:
# Gaussian Naive Bayes 
from sklearn.naive_bayes import GaussianNB as GB
classifier_gb = GB()
classifier_gb.fit(train_matrix.toarray(),salary_train.workclass.values) 
train_pred_g = classifier_gb.predict(train_matrix.toarray())
accuracy_train_g = np.mean(train_pred_g==salary_train.workclass) 

test_pred_g = classifier_gb.predict(test_matrix.toarray())
accuracy_test_g = np.mean(test_pred_g==salary_test.workclass)

In [48]:
print("Accuracy of Train Data : ",accuracy_train_g )
print("Accuracy of Test Data : ",accuracy_test_g)

Accuracy of Train Data :  0.16212990285467987
Accuracy of Test Data :  0.15803452855245684